[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-login = "*"
bs4 = "*"
requests = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
opencv-python = {path = "./opencv_python-4.2.0.32-cp36-cp36m-win_amd64.whl"}

[requires]
python_version = "3.6"
