<!DOCTYPE html> 
<html class="html" lang="en">

<head>
	{% block head %}
    <meta charset="uft-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s web application</title> 
	<script type="text/javascript" src="{{ url_for('static', filename='js/echarts.common.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"> 
	{% endblock %}
</head> 
<body class="body-background" background="{{url_for('static', filename='images/bg.png')}}">
	{% for message in get_flashed_messages() %}    
	     <div class="alert">{{ message }}</div> 
	{% endfor %}
    <nav>  
		  <div>
	      <ul>  
				<li class="nav-left" ><a href="{{ url_for('navigation') }}" style="color:#ffffff!important;">主页</a></li>
		        <li class="nav-left" ><a href="{{ url_for('wheather') }}" style="color:#ffffff!important;">天气</a></li>
		        <li class="nav-left" ><a href="{{ url_for('plot_') }}" style="color:#ffffff!important;">模拟数据</a></li>
			    {% if current_user.is_authenticated %} 
				  <li class="nav-left" ><a href="{{ url_for('index') }}" style="color:#ffffff!important;">影视</a></li>
			      <li class="nav-left" ><a href="{{ url_for('settings') }}" style="color:#ffffff!important;">设置</a></li>   
				  <li class="log-in-out" ><a href="{{ url_for('logout') }}" style="color:#ffffff!important;">退出</a></li>  
				{% else %}    
				  <li class="log-in-out"><a href="{{ url_for('login') }}" style="color:#ffffff!important;">登录</a></li> 
				{% endif %}
		  </ul>  
		  </div>
	</nav>    
	{% block content %}{% endblock %}
    <footer class="foot-background" >
		<small>&copy; 2020 <a>Nicolas Xiong</a></small>
    </footer> 
</body> 
</html>
