{% extends 'base.html' %}

{% block content %}
     <center>
    <h2 id="position" style="color:#fff;">过往天气数据查询</h2>
	</center>
	
  <!-- <div class="container">     
	 <div class="d-flex flex-row justify-content-center">
     <div class="dropdown dropdown-menu-right">
           <button type="button" class="btn-sm btn-primary dropdown-toggle m-2" data-toggle="dropdown">
             年份
           </button>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">2018年</a>
             <a class="dropdown-item" href="#">2019年</a>
             <a class="dropdown-item" href="#">2020年</a>
           </div>
     </div>
	 <div class="dropdown dropdown-menu-right">
	       <button type="button" class="btn-sm btn-primary dropdown-toggle m-2" data-toggle="dropdown">
	         月份
	       </button>
	       <div class="dropdown-menu">
	         <a class="dropdown-item" href="#">1月</a>
	         <a class="dropdown-item" href="#">2月</a>
	         <a class="dropdown-item" href="#">3月</a>
	       </div>
	 </div>
	 <div class="dropdown dropdown-menu-right">
	       <button type="button" class="btn-sm btn-primary dropdown-toggle m-2" data-toggle="dropdown">
	         日期
	       </button>
	       <div class="dropdown-menu">
	         <a class="dropdown-item" href="#">15日</a>
	         <a class="dropdown-item" href="#">16日</a>
	         <a class="dropdown-item" href="#">17日</a>
	       </div>
	 </div>
	</div>
   </div> -->
   <center>
   <table id="tb" class="table table-hover table-light table-sm" style="max-width:1000px">       
   </table>
   </center>
   
   <div id="main1" style="width: 80%;height:80%;margin:5px auto;"></div>
   

    
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
		myChart1.showLoading();
		//异步加载数据
		$(function(){
		    $.get('/databse',function (data) {
				var s = '<thead class="thead-dark"> <tr><th style="color: #ffffff;">时间</th><th style="color: #ffffff;">温度</th><th style="color: #ffffff;">湿度</th><th style="color: #ffffff;">空气质量</th></tr></thead>';
				for (var i = data.time.length-1; i >=0 ; i--) {
					if(data.air_quality[i]>0 && data.air_quality[i]<=50)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #00ff00;">' + data.air_quality[i] + '&nbsp;&nbsp;优</td></tr>';
				    else if(data.air_quality[i]>50 && data.air_quality[i]<=100)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #ffff00;">' + data.air_quality[i] + '&nbsp;&nbsp;良</td></tr>';
					else if(data.air_quality[i]>100 && data.air_quality[i]<=150)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #ffaa00;">' + data.air_quality[i] + '&nbsp;&nbsp;轻度污染</td></tr>';
					else if(data.air_quality[i]>150 && data.air_quality[i]<=200)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #ff0000;">' + data.air_quality[i] + '&nbsp;&nbsp;中度污染</td></tr>';
					else if(data.air_quality[i]>200 && data.air_quality[i]<=300)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #aa00ff;">' + data.air_quality[i] + '&nbsp;&nbsp;重度污染</td></tr>';
					else if(data.air_quality[i]>300)
					s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #000000;">' + data.air_quality[i] + '&nbsp;&nbsp;严重污染</td></tr>';
					};
				document.getElementById("tb").innerHTML = s;
				myChart1.hideLoading();
		        myChart1.setOption({
		            title: [{
						top: '5%',
						left: 'center',
		                text: '温度 湿度',
						textStyle: {
						  color: "#fff"
						},
		            },{
						top: '50%',
						left: 'center',
						text: '空气质量',
						textStyle: {
						  color: "#fff"
						},
					}],
					legend: {
					    data: ['温度', '湿度', '空气质量'],
						textStyle: {
						  color: "#fff"
						},
					},
					tooltip: [{
						trigger: 'axis', 						
						axisPointer: {  //坐标轴指示器，坐标轴触发有效，
						    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
							crossStyle: {
						        color: '#ffffff'//白色
							}
						},
						// formatter(params){
						//     for(x in params){
						//            return "温度（℃）:"+params[x].data;
						// 		   }
						// 	}
					}],
					axisPointer: {  //全局化axisPointer
					    link: {xAxisIndex: 'all'},
					    label: {
					        backgroundColor: '#777'
					    }
					},
					grid:[
						{bottom:'58%',right:'15%',left:"15%"},
						{top:'58%',right:'15%',left:"15%"}
					],
		            xAxis: [
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#fff"
							  },
							},
						},
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#fff"
							  },
							},
							gridIndex:1
						}
					],
					yAxis: [
						{
							type:'value',
							name: '温度',
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							    textStyle: {
								    color: "#fff"
								              },
							    formatter: '{value} ℃'
						}
						},{
							type:'value',
							name: '湿度',
							min: 0,
							max: 100,
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
								textStyle: {
								    color: "#fff"
								              },
							    formatter: '{value} %'
							}
		                 },{
							type:'value',
							name: '空气质量',
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							  textStyle: {
							    color: "#fff"
							  },
							},
							gridIndex:1,
						}],
					series: [{//默认第一个图第一个轴
					    name: '温度',
					    type: 'bar',
						data:data.temperature,
					},{
						name: '湿度',
						type: 'line',
						data:data.humidity,
						yAxisIndex:1   //对应第二给轴（默认第一个图）
					},{
						name: '空气质量',
						type: 'bar',
						data:data.air_quality,
						xAxisIndex:1,  //对应第二个图
						yAxisIndex:2   //对应第三个轴
					}],
		        });
		    });
		}); 
		
    </script>



{% endblock %}