{% extends 'navigation_2.html' %}

{% block a %} 
<div class="side-nav expand-lg">
			<div class="side-nav-inner">
				<ul class="side-nav-menu">
					<li class="side-nav-header">
						<h2 style="color:#c5c5c5">导航栏</h2>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle">
							<span class="icon-holder">
								<i class="lni-dashboard"></i>
							</span>
							<span class="title">系统总控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="navigation">温室选择</a>
							</li>
							<li>
								<a href="navigation_2">近期数据</a>
							</li>
							<li>
								<a href="navigation_2_2">环境控制</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown  open">
						<a class="dropdown-toggle" href="#">
						<span class="icon-holder">
							<i class="lni-timer"></i>
						</span>
						<span class="title">历史数据</span>
						<span class="arrow">
						<i class="lni-chevron-right"></i>
						</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="navigation_history">温室选择</a>
							</li>
							<li>
								<a href="temperature">数据展示</a>
							</li>
							<li  class="active">
								<a href="humidity">数据下载</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-camera"></i>
							</span>
							<span class="title">视频监控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="video">一号温室</a>
							</li>
							<li>
								<a href="video_2">二号温室</a>
							</li>
							<li>
								<a href="video_3">三号温室</a>
							</li>
							<li>
								<a href="video_4">四号温室</a>
							</li>
							<li>
								<a href="video_5">五号温室</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-cloud"></i>
							</span>
							<span class="title">天气预报</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
						<li>
							<a href="weather_true">天气预报</a>
						</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-files"></i>
							</span>
							<span class="title">特殊页面</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
					<ul class="dropdown-menu sub-down">
						<li>
							<a href="profile">简介</a>
						</li>
						<li>
							<a href="settings">设置</a>
						</li>
						<li>
							<a href="{{ url_for('login') }}">登录</a>
						</li>
						<li>
							<a href="sign_up">注册</a>
						</li>
						<li>
							<a href="forgot_password">忘记密码</a>
						</li>
						<li>
							<a href="_404">404错误</a>
						</li>
					</ul>
					</li>
					</ul>
			</div>
		</div>
{% endblock %}

{% block b %} 
				<div class="breadcrumb-wrapper row">
					<div class="col-12 col-lg-3 col-md-6">
						<h4 class="page-title">数据下载</h4>
					</div>
					<div class="col-12 col-lg-9 col-md-6">
						<ol class="breadcrumb float-right">
							<li><a href="navigation_history">历史数据</a></li>
							<li class="active">/ 数据下载</li>
						</ol>
					</div>
				</div>
{% endblock %}


{% block c %} 
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<div>
					<h2 class="text-muted" style="text-align:center;margin-top: 15px;">下载不同时间段数据</h2>
				</div>
				<div class="row">
					<div class="col-md-12">
					<form method="POST">
						<div class="row">
						<div class='col-7 col-md-5' style="margin-top: 10px;">
							   <input type='text' class="form-control" name="date1" placeholder="起始时间" id='datetimepicker12'/>
						</div>
						<div class='col-7 col-md-5' style="margin-top: 10px;">
							   <input type='text' class="form-control" name="date2" placeholder="截止时间" id='datetimepicker13'/>
						</div>
						<div class='col-5 col-md-2' style="margin-top: 10px;">
							<button type="submit" class="btn btn-common" style="margin-left: 20px;margin-right: 20px;">确定</button>
						</div>
						</div>
					</form>
					</div>
					<div class='col-md-12'>
						<div class="d-flex justify-content-center" style="margin: 30px;">
							<a class="btn btn-outline-success" href="{{ url_for('download') }}" download="section_data.xlsx" style="width: 300px;">  <!-- url_for获取函数所对应url -->
								以excel格式下载指定时间段数据
							</a>
						</div>
					</div>
					<div class='col-md-12'>
						<div class="d-flex justify-content-center" >
							<a class="btn btn-outline-success" href="{{ url_for('download_all') }}" download="all_data.xlsx" style="width: 300px;">  <!-- url_for获取函数所对应url -->
								以excel格式下载全部数据
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">	
		<div class="card">
			<div class="card-body">
				<div>
					<h2 class="text-muted" style="text-align:center;margin-top: 15px;">下载不同类别数据</h2>
				</div>
				<div class="d-flex justify-content-center" style="margin: 20px;">
					<a class="btn btn-outline-success" href="{{ url_for('temperature_download') }}" download="temperature.xlsx" style="width: 400px;">  <!-- url_for获取函数所对应url -->
						以excel格式下载全部温度数据
					</a>
				</div>
				<div class="d-flex justify-content-center" style="margin: 20px;">
					<a class="btn btn-outline-success" href="{{ url_for('humidity_download') }}" download="humidity.xlsx" style="width: 400px;">  <!-- url_for获取函数所对应url -->
						以excel格式下载全部湿度数据
					</a>
				</div>
				<div class="d-flex justify-content-center" style="margin: 20px;">
					<a class="btn btn-outline-success" href="{{ url_for('lux_download') }}" download="lux.xlsx" style="width: 400px;">  <!-- url_for获取函数所对应url -->
						以excel格式下载全部光照度数据
					</a>
				</div>
				<div class="d-flex justify-content-center" style="margin: 20px;">
					<a class="btn btn-outline-success" href="{{ url_for('carbon_download') }}" download="carbon.xlsx" style="width: 400px;">  <!-- url_for获取函数所对应url -->
						以excel格式下载全部CO2含量数据
					</a>
				</div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}

{% block d %} 
	<script src="../static/js/moment-with-locales.js"></script>
	<script src="../static/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript">
		var status={{status}}
		if (status==1){
			alert("日期超出范围!")
		}
		else if(status==2){
			alert("存在未输入的表单!")
		}
	    $(function () {
	        $('#datetimepicker12').datetimepicker({locale: 'zh-cn', viewMode: 'days', format: 'YYYY/MM/DD'});
	        $('#datetimepicker13').datetimepicker({locale: 'zh-cn', viewMode: 'days', format: 'YYYY/MM/DD'});
	        $("#datetimepicker12").on("dp.change",function (e) {
	            $('#datetimepicker13').data("DateTimePicker").minDate(e.date);
	        });
	        $("#datetimepicker13").on("dp.change",function (e) {
	            $('#datetimepicker12').data("DateTimePicker").maxDate(e.date);
	        });
	    });
	</script>
{% endblock %}





