{% extends 'base.html' %}

{% block content %}

<div class="index-con" style="z-index: 0">
  <ul>
    <li class="in-kct in-course"> 
	    <a href="#" title="视频信息">
        <div class="in-block"> <i class="bigger"></i> <span class="ch show" style="display: inline;">视频信息</span></div>
        </a> 
    </li>
    <li class="in-kct in-quest"> 
		<a href="#" title="数据统计">
        <div class="in-block"> <i class="bigger"></i> <span class="ch show" style="display: inline;">数据统计</span></div>
        </a> 
	</li>
    <li class="in-jbk in-plan"> 
		<a href="#" title="CO2含量">
        <div class="in-block"> <i style="display: block;"></i> <span class="ch1 show" style="display: inline;">CO2含量</span></div>
        </a> 
	</li>
    <li class="in-jbk in-report"> 
		<a href="#" title="光照度">
        <div class="in-block"> <i style="display: block;"></i> <span class="ch1 show" style="display: inline;">光照度</span></div>
        </a> 
	</li>
    <li class="in-zxl in-forma"> 
		<a href="#" title="温度">
        <div class="in-block"> <i style="display: block;"></i> <span class="ch2 show" style="display: inline;">温度</span></div>
        </a> 
	</li>
    <li class="in-zxl in-means"> 
		<a href="#" title="湿度">
        <div class="in-block"> <i style="display: block;"></i> <span class="ch2 show" style="display: inline;">湿度</span></div>
        </a> 
	</li>
    <li class="in-jbk in-client"> 
		<a href="#" target="_blank" title="过往数据">
        <div class="in-block"> <i style="display: block;"></i> <span class="ch1 show" style="display: inline;">过往数据</span></div>
        </a> 
	</li>
  </ul>
</div>



{% endblock %}