{% extends 'base.html' %}

{% block content %}

<div id="demo" class="carousel slide container" data-ride="carousel" style="max-width:1000px">
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
	<li data-target="#demo" data-slide-to="3"></li>
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
			<img alt="" src="{{url_for('static', filename='images/temperature.jpg')}}" width="100%" height="130px"/>
			<div class="carousel-caption">
				<p class="carousel-font">
				    实时温度：&nbsp &nbsp &nbsp <br>（正常）
				</p>
			</div>
    </div>
    <div class="carousel-item">
			<img alt="" src="{{url_for('static', filename='images/humidity.jpg')}}" width="100%" height="130px"/>
			<div class="carousel-caption">
				<p class="carousel-font">
				    实时湿度：&nbsp &nbsp &nbsp <br>（正常）
				</p>
			</div>
    </div>
    <div class="carousel-item">
			<img alt="" src="{{url_for('static', filename='images/shine.jpg')}}" width="100%" height="130px"/>
			<div class="carousel-caption">
				<p class="carousel-font">
				    实时光照度：&nbsp &nbsp &nbsp <br>（正常）
				</p>
			</div>
    </div>
	<div class="carousel-item">
			<img alt="" src="{{url_for('static', filename='images/CO2.jpg')}}" width="100%" height="130px"/>
			<div class="carousel-caption" padding="100px">
				<p class="carousel-font">
				    实时CO2含量：&nbsp &nbsp &nbsp（正常）
				</p>
			</div>
	</div>
  </div>
 
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>


<!-- 固定宽度 -->
<div class="container">
	<div class="row m-4">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class ="in-kct" style="height: 260px; background:#b01e00;">
							<a href="#" title="视频信息">
							<div class="d-flex justify-content-center p-4"><div class="image bigger img-responsive" ></div> </div>
							<div class="ch show" >视频信息</div>
							</a> 
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="in-kct" style="height: 260px; background:#28b779;">
							<a href="#" title="数据统计">
								<div class="d-flex justify-content-center p-4"><div class="image2 bigger img-responsive"></div> </div>
								<div class="ch show" >数据统计</div>
							</a> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class ="in-jbk" style="height: 120px; background:#ff8000;">
						<a href="#" title="温度">
							<div class="d-flex justify-content-center align-items-center p-2" >
								<div class="p-4"><div class="image bigger img-responsive" ></div> </div>
								<div class="ch show" >温度</div>
							</div>
						</a> 
					</div>
				</div>
				<div class="col-md-6 mb-4">
					<div class="in-jbk" style="height: 120px; background:#1f64cd;">
						<a href="#" title="湿度">
							<div class="d-flex justify-content-center align-items-center p-2" >
								<div class="p-4"><div class="image2 bigger img-responsive" ></div> </div>
								<div class="ch show" >湿度</div>
							</div>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-12 mb-4">
					<div class="in-zxl" style="height: 119px; background:#00bfff;">
						<a href="#" title="CO2含量">
							<div class="d-flex justify-content-center align-items-center p-2" >
								<div class="p-4"><div class="image bigger img-responsive" ></div> </div>
								<div class="ch show" >CO2含量</div>
							</div>
						</a> 
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="in-zxl" style="height: 119px; background:#ff5500;">
						<a href="#" title="光照度">
							<div class="d-flex justify-content-center align-items-center p-2" >
								<div class="p-4"><div class="image2 bigger img-responsive" ></div> </div>
								<div class="ch show" >光照度</div>
							</div>
						</a> 
					</div>
				</div>
				<div class="col-12 mb-4">
					<div class="in-zxl" style="height: 119px; background:#691bb8;">
						<a href="#" title="过往数据">
							<div class="d-flex justify-content-center align-items-center p-2" >
								<div class="p-4"><div class="image3 bigger img-responsive" ></div> </div>
								<div class="ch show" >过往数据</div>
							</div>
						</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
