<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>智慧园艺温室信息管理系统</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="../static/fonts/line-icons.css">

<link rel="stylesheet" type="text/css" href="../static/css/main.css">

<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>
<body>
	<div class="wrapper-page">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 col-md-12 col-xs-12">
					<div class='m-b-20 text-center'><h1>智慧园艺温室信息管理系统</h1></div>
					<div class="card">
						<div class="card-header border-bottom text-center">
							<h4 class="card-title">设置</h4>
						</div>
						<div class="card-body">
							<form class="form-horizontal m-t-20" method="post">  <!-- action="index.html"直接定位别的网页！！！ -->
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									这里可以修改<b>用户名</b>以及<b>个人简介</b>
								</div>
								<div class="form-group">
									<input class="form-control" type="text" name="username" placeholder="更改用户名">
								</div>
									<div class="form-group">
										<textarea class="form-control" rows="3" type="text" name="profile" placeholder="修改个人简介，100字以内"></textarea>
									</div>
								{% if status_error==1 %}
								<div class="alert alert-warning alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<font color="#ff0820">什么也没有改哟!</font>
								</div>
								{% elif status_error==2 %}
								<div class="alert alert-warning alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<font color="#ff0820">用户名或个人简介过长!</font>
								</div>
								{% elif status_error==3 %}
								<div class="alert alert-warning alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<font color="#ff0820">该用户名已被注册!</font>
								</div>
								{% elif status_==1 %}
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<b>用户名</b>更改成功!
								</div>
								{% elif status_==2 %}
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<b>个人简介</b>更改成功
								</div>
								{% elif status_==3 %}
								<div class="alert alert-info alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<b>用户名</b>和<b>个人简介</b>更改成功!
								</div>
								{% endif %}
								<div class="form-group text-center m-t-20">
									<button class="btn btn-common btn-block" type="submit" name="submit" value="提交">提交</button>
								</div>
								<div class="form-group text-center m-t-20">
									<button class="btn btn-common btn-block" type="submit" name="submit" value="返回">返回</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div id="preloader">
<div class="loader" id="loader-1"></div>
</div>


<script src="../static/js/jquery-min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.app.js"></script>
<script src="../static/js/main.js"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>