{% extends 'navigation_2.html' %}

{% block a %} 
<div class="side-nav expand-lg">
			<div class="side-nav-inner">
				<ul class="side-nav-menu">
					<li class="side-nav-header">
						<h2 style="color:#c5c5c5">导航栏</h2>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle">
							<span class="icon-holder">
								<i class="lni-dashboard"></i>
							</span>
							<span class="title">系统总控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="navigation_2">近期数据</a>
							</li>
							<li>
								<a href="navigation_2_2">环境控制</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown open">
						<a class="dropdown-toggle" href="#">
						<span class="icon-holder">
							<i class="lni-timer"></i>
						</span>
						<span class="title">历史数据</span>
						<span class="arrow">
						<i class="lni-chevron-right"></i>
						</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li class="active">
								<a href="temperature">数据展示</a>
							</li>
							<li>
								<a href="humidity">数据下载</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-camera"></i>
							</span>
							<span class="title">视频监控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="video">窗口一</a>
							</li>
							<li>
								<a href="video_2">窗口二</a>
							</li>
							<li>
								<a href="video_3">窗口三</a>
							</li>
							<li>
								<a href="video_4">窗口四</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-cloud"></i>
							</span>
							<span class="title">天气预报</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
						<li>
							<a href="weather_true">天气预报</a>
						</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-files"></i>
							</span>
							<span class="title">特殊页面</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
					<ul class="dropdown-menu sub-down">
						<li>
							<a href="profile">简介</a>
						</li>
						<li>
							<a href="settings">设置</a>
						</li>
						<li>
							<a href="{{ url_for('login') }}">登录</a>
						</li>
						<li>
							<a href="sign_up">注册</a>
						</li>
						<li>
							<a href="forgot_password">忘记密码</a>
						</li>
						<li>
							<a href="_404">404错误</a>
						</li>
					</ul>
					</li>
					</ul>
			</div>
		</div>
{% endblock %}

{% block b %} 
				<div class="breadcrumb-wrapper row">
					<div class="col-12 col-lg-3 col-md-6">
						<h4 class="page-title">数据展示</h4>
					</div>
					<div class="col-12 col-lg-9 col-md-6">
						<ol class="breadcrumb float-right">
							<li><a href="temperature">历史数据</a></li>
							<li class="active">/ 数据展示</li>
						</ol>
					</div>
				</div>
{% endblock %}


{% block c %} 
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<form method="POST">
				<div class='input-group date custom-control custom-control-inline' style="margin-top: 15px;">
					<input type='text' class="form-control" name="date" placeholder="选择日期" id='datetimepicker3'/>
					<button type="submit" class="btn btn-common" style="margin-left: 20px;margin-right: 20px;">确定</button>
				</div>
			</form>
			<div>
				<h2 class="text-muted" style="text-align:center;margin-top: 15px;">{{data.date}}</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div id="main_temperature" style="height: 250px"></div>
				</div>
				<div class="col-md-6">
					<div id="main_humidity" style="height: 250px"></div>
				</div>
				<div class="col-md-6">
					<div id="main_lux" style="height: 250px"></div>
				</div>
				<div class="col-md-6">
					<div id="main_carbon" style="height: 250px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">{{data.date}}</h5>
				</div>
				<table id="tb2" class="table table-hover table-light table-sm">
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="row m-b-20">
				<div class='col-md-12'>
					<div>
						<h2 class="text-muted" style="text-align:center;margin-top: 15px;">{{data.date}}</h2>
					</div>
					<table id="tb" class="table table-hover table-light table-sm">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block d %} 
		<script src="../static/js/moment-with-locales.js"></script>
		<script src="../static/js/bootstrap-datetimepicker.js"></script>
		
        <script type="text/javascript">
			var myChart_temperature = echarts.init(document.getElementById('main_temperature'));
			var myChart_humidity = echarts.init(document.getElementById('main_humidity'));
			var myChart_lux = echarts.init(document.getElementById('main_lux'));
			var myChart_carbon = echarts.init(document.getElementById('main_carbon'));
			var data={{data|tojson}}
			var status={{status}}
			var s = '<thead class="thead-dark"> <tr><th style="color: #ffffff;">时间</th><th style="color: #ffffff;">温度</th><th style="color: #ffffff;">湿度</th><th style="color: #ffffff;">光照度</th><th style="color: #ffffff;">CO2含量</th></tr></thead>';
			for (var i = 0; i<24 ; i++) {
				s += '<tr><td>' + data.time[i] + '</td><td style="color: #ff5500;">' + data.temperature[i] + '℃</td><td style="color: #0055ff;">' + data.humidity[i] + '%</td><td style="color: #00aa00;">' + data.lux[i] + 'klux</td><td style="color: #ff00ff;">' + data.co2[i] + 'ppm</td></tr>';
			};
			function table(max, min, ave,var_) {
				s = '<thead class="thead-dark"><tr><th style="color: #ffffff;"></th><th style="color: #ffffff;">温度</th><th style="color: #ffffff;">湿度</th><th style="color: #ffffff;">光照度</th><th style="color: #ffffff;">CO2含量</th></tr></thead>';
			    s1 = '<tr><td>最大值</td><td>' + max[0] + '℃</td><td>' + max[1] + '%</td><td>' + max[2] + 'klux</td><td>' + max[3] + 'ppm</td></tr>';
				s2 = '<tr><td>最小值</td><td>' + min[0] + '℃</td><td>' + min[1] + '%</td><td>' + min[2] + 'klux</td><td>' + min[3] + 'ppm</td></tr>';
				s3 = '<tr><td>平均值</td><td>' + ave[0] + '℃</td><td>' + ave[1] + '%</td><td>' + ave[2] + 'klux</td><td>' + ave[3] + 'ppm</td></tr>';
				s4 = '<tr><td>方差</td><td>' + var_[0] + '</td><td>' + var_[1] + '</td><td>' + var_[2] + '</td><td>' + var_[3] + '</td></tr>';
				return s+s1+s2+s3+s4
			}
			document.getElementById("tb").innerHTML = s;
			document.getElementById("tb2").innerHTML = table(data.max,data.min,data.ave,data.var_);
			myChart_temperature.showLoading({color: '#00aa00'});
			myChart_humidity.showLoading({color: '#00aa00'});
			myChart_lux.showLoading({color: '#00aa00'});
			myChart_carbon.showLoading({color: '#00aa00'});
			if (status==1){
				alert("日期超出范围!")
			}
			else if(status==2){
				alert("什么也没有输入!")
			}
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    locale: 'zh-cn',viewMode: 'days',format: 'YYYY/MM/DD'
                });
				myChart_temperature.hideLoading({color: '#00aa00'});
				myChart_humidity.hideLoading({color: '#00aa00'});
				myChart_lux.hideLoading({color: '#00aa00'});
				myChart_carbon.hideLoading({color: '#00aa00'});
				myChart_temperature.setOption({
					legend: {
					    data: ['温度(℃)'],
						textStyle: {
						  color: "#000000"
						},
					},
					tooltip: [{
						trigger: 'axis', 						
						axisPointer: {  //坐标轴指示器，坐标轴触发有效，
						    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
							crossStyle: {
						        color: '#000000'//白色
							}
						},
					}],
				    xAxis: [
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#000000"
							  },
							},
						}
					],
					yAxis: [
						{
							type:'value',
							name: '温度',
							min: 0,
							max: 40,
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							    textStyle: {
								    color: "#000000"
								              },
							    formatter: '{value}'
						}
						}],
					series: [{//默认第一个图第一个轴
					    name: '温度(℃)',
					    type: 'bar',
						itemStyle: {
						//通常情况下：
						normal: {
						    //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
						    color: '#00aa00'
							}
							},
						data:data.temperature,
					}],
				});
				myChart_humidity.setOption({
					legend: {
					    data: ['湿度(%)'],
						textStyle: {
						  color: "#000000"
						},
					},
					tooltip: [{
						trigger: 'axis', 						
						axisPointer: {  //坐标轴指示器，坐标轴触发有效，
						    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
							crossStyle: {
						        color: '#000000'//白色
							}
						},
					}],
				    xAxis: [
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#000000"
							  },
							},
						}
					],
					yAxis: [
						{
							type:'value',
							name: '湿度',
							min: 0,
							max: 100,
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							    textStyle: {
								    color: "#000000"
								              },
							    formatter: '{value}'
						}
						}],
					series: [{//默认第一个图第一个轴
					    name: '湿度(%)',
					    type: 'bar',
						itemStyle: {
						//通常情况下：
						normal: {
						    //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
						    color: '#00aa00'
							}
							},
						data:data.humidity,
					}],
				});
				myChart_lux.setOption({
					legend: {
					    data: ['光照度(klux)'],
						textStyle: {
						  color: "#000000"
						},
					},
					tooltip: [{
						trigger: 'axis', 						
						axisPointer: {  //坐标轴指示器，坐标轴触发有效，
						    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
							crossStyle: {
						        color: '#000000'//白色
							}
						},
					}],
				    xAxis: [
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#000000"
							  },
							},
						}
					],
					yAxis: [
						{
							type:'value',
							name: '光照度',
							min: 0,
							max: 80,
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							    textStyle: {
								    color: "#000000"
								              },
							    formatter: '{value}'
						}
						}],
					series: [{//默认第一个图第一个轴
					    name: '光照度(klux)',
					    type: 'bar',
						itemStyle: {
						//通常情况下：
						normal: {
						    //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
						    color: '#00aa00'
							}
							},
						data:data.lux,
					}],
				});
				myChart_carbon.setOption({
					legend: {
					    data: ['CO2含量(ppm)'],
						textStyle: {
						  color: "#000000"
						},
					},
					tooltip: [{
						trigger: 'axis', 						
						axisPointer: {  //坐标轴指示器，坐标轴触发有效，
						    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
							crossStyle: {
						        color: '#000000'//白色
							}
						},
					}],
				    xAxis: [
						{
							type:'category',
							data:data.time,
							axisLabel: {
							  textStyle: {
							    color: "#000000"
							  },
							},
						}
					],
					yAxis: [
						{
							type:'value',
							name: 'CO2含量',
							min: 0,
							max: 800,
							splitLine:{
							　　　　show:false
							　　},
							axisLabel: {
							    textStyle: {
								    color: "#000000"
								              },
							    formatter: '{value}'
						}
						}],
					series: [{//默认第一个图第一个轴
					    name: 'CO2含量(ppm)',
					    type: 'bar',
						itemStyle: {
						//通常情况下：
						normal: {
						    //每个柱子的颜色即为colorList数组里的每一项，如果柱子数目多于colorList的长度，则柱子颜色循环使用该数组
						    color: '#00aa00'
							}
							},
						data:data.co2,
					}],
				});
            });
        </script>
		<script src="../static/js/base.js"></script>

{% endblock %}




