{% extends 'navigation_2.html' %}

{% block a %} 
<div class="side-nav expand-lg">
			<div class="side-nav-inner">
				<ul class="side-nav-menu">
					<li class="side-nav-header">
						<h2 style="color:#c5c5c5">导航栏</h2>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle">
							<span class="icon-holder">
								<i class="lni-dashboard"></i>
							</span>
							<span class="title">近期数据</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="navigation_2">一小时内</a>
							</li>
							<li>
								<a href="navigation_2_2">一天内</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown  open">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-camera"></i>
							</span>
							<span class="title">视频监控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="video">窗口一</a>
							</li>
							<li>
								<a href="video_2">窗口二</a>
							</li>
							<li  class="active">
								<a href="video_3">窗口三</a>
							</li>
							<li>
								<a href="video_4">窗口四</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-cloud"></i>
							</span>
							<span class="title">天气预报</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
						<li>
							<a href="weather_true">天气</a>
						</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
						<span class="icon-holder">
							<i class="lni-timer"></i>
						</span>
						<span class="title">历史数据</span>
						<span class="arrow">
						<i class="lni-chevron-right"></i>
						</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="temperature">历史温度</a>
							</li>
							<li>
								<a href="humidity">历史湿度</a>
							</li>
							<li>
								<a href="lux">历史光照度</a>
							</li>
							<li>
								<a href="carbon">历史CO2含量</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-files"></i>
							</span>
							<span class="title">特殊页面</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
					<ul class="dropdown-menu sub-down">
						<li>
							<a href="profile">简介</a>
						</li>
						<li>
							<a href="settings">设置</a>
						</li>
						<li>
							<a href="login">登录</a>
						</li>
						<li>
							<a href="sign_up">注册</a>
						</li>
						<li>
							<a href="forgot_password">忘记密码</a>
						</li>
						<li>
							<a href="_404">404错误</a>
						</li>
					</ul>
					</li>
					</ul>
			</div>
		</div>
{% endblock %}

{% block b %} 
				<div class="breadcrumb-wrapper row">
					<div class="col-12 col-lg-3 col-md-6">
						<h4 class="page-title">窗口三</h4>
					</div>
					<div class="col-12 col-lg-9 col-md-6">
						<ol class="breadcrumb float-right">
							<li><a href="navigation_2">近期数据</a></li>
							<li class="active">/ 窗口三</li>
						</ol>
					</div>
				</div>
{% endblock %}

{% block c %}
<div class="row">
<div class="col-md-12">
	<div class="card">
	<div class="card-header">
		<font color="#00ff00">窗口三</font>
	</div>
	<div class="card-body">
		<img class="img-fluid" src="{{ url_for('video_feed3') }}">
	</div>
	</div>
</div>
</div>
{% endblock %}

{% block d %} 

{% endblock %}


