{% extends 'navigation_2.html' %}

{% block a %} 
<div class="side-nav expand-lg">
			<div class="side-nav-inner">
				<ul class="side-nav-menu">
					<li class="side-nav-header">
						<h2 style="color:#c5c5c5">导航栏</h2>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle">
							<span class="icon-holder">
								<i class="lni-dashboard"></i>
							</span>
							<span class="title">近期数据</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="navigation_2">一小时内</a>
							</li>
							<li>
								<a href="navigation_2_2">一天内</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-camera"></i>
							</span>
							<span class="title">视频监控</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="video">窗口一</a>
							</li>
							<li>
								<a href="video_2">窗口二</a>
							</li>
							<li>
								<a href="video_3">窗口三</a>
							</li>
							<li>
								<a href="video_4">窗口四</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown open">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-cloud"></i>
							</span>
							<span class="title">天气预报</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu sub-down">
						<li  class="active">
							<a href="weather_true">天气</a>
						</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
						<span class="icon-holder">
							<i class="lni-timer"></i>
						</span>
						<span class="title">历史数据</span>
						<span class="arrow">
						<i class="lni-chevron-right"></i>
						</span>
						</a>
						<ul class="dropdown-menu sub-down">
							<li>
								<a href="temperature">历史温度</a>
							</li>
							<li>
								<a href="humidity">历史湿度</a>
							</li>
							<li>
								<a href="lux">历史光照度</a>
							</li>
							<li>
								<a href="carbon">历史CO2含量</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="dropdown-toggle" href="#">
							<span class="icon-holder">
								<i class="lni-files"></i>
							</span>
							<span class="title">特殊页面</span>
							<span class="arrow">
							<i class="lni-chevron-right"></i>
							</span>
						</a>
					<ul class="dropdown-menu sub-down">
						<li>
							<a href="profile">简介</a>
						</li>
						<li>
							<a href="settings">设置</a>
						</li>
						<li>
							<a href="{{ url_for('login') }}">登录</a>
						</li>
						<li>
							<a href="sign_up">注册</a>
						</li>
						<li>
							<a href="forgot_password">忘记密码</a>
						</li>
						<li>
							<a href="_404">404错误</a>
						</li>
					</ul>
					</li>
					</ul>
			</div>
		</div>
{% endblock %}

{% block b %} 
				<div class="breadcrumb-wrapper row">
					<div class="col-12 col-lg-3 col-md-6">
						<h4 class="page-title">天气</h4>
					</div>
					<div class="col-12 col-lg-9 col-md-6">
						<ol class="breadcrumb float-right">
							<li><a href="weather">天气信息</a></li>
							<li class="active">/ 天气</li>
						</ol>
					</div>
				</div>
{% endblock %}

{% block c %}
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						{% if current_user.is_authenticated %}
						<div class="row m-t-20 m-b-20">
							<div class="col-md-12 ">
								<form method="POST">
									<div class='input-group date custom-control custom-control-inline' >
										<input type='text' class="form-control" name="search" placeholder="搜索城市"/>
										<button type="submit" class="btn btn-outline-success" style="margin-left: 20px;margin-right: 20px;">确定</button>
									</div>
								</form>
							</div>
							<div class="col-md-12">
								{% if status_error==1 %} 
								<div class="alert  alert-dismissible m-t-10">
									<font color="#00ff00"><b>没找到~</b></font>
								</div>
								{% endif %}
							</div>
						</div>
						{% endif %}
						<div class="card-body">
						<div style="margin-top:20px; margin-bottom:20px;">
							<h1 class="text-muted" style="text-align:center;">{{location_cn}}</h1>
						</div>
						<div class="row ">
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">天气<small>&nbsp;<font style="color:#00ff00;">{{now.cond_txt}}</font></small></h4>
								<h4 class="display-2 text-muted" style="text-align:center;"><img src="../static/images/weather/{{now.cond_code}}.png" alt=""></h4>
							</div>
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">温度</h4>
								<h4 class="display-2 text-muted" style="text-align:center;"><small>{{now.tmp}}℃</small></h4>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">湿度</h4>
								<h4 class="display-2 text-muted" style="text-align:center;"><small>{{now.hum}}%</small></h4>
							</div>
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">风力</h4>
								<h4 class="display-2 text-muted" style="text-align:center;"><small>{{now.wind_sc}}级</small></h4>
							</div>
						</div>
						<div class="row ">
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">降水量</h4>
								<h4 class="display-4 text-muted" style="text-align:center;"><small>{{now.pcpn}}mm</small></h4>
							</div>
							<div class="col-md-6 col-6">
								<h4 class="text-muted" style="margin-left:10px;">风向</h4>
								<h4 class="display-4 text-muted" style="text-align:center;"><small>{{now.wind_dir}}</small></h4>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;">{{forecast[0].date}}&nbsp;天气预报</h3>
								</div>
								<div class="row">
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[0].cond_code_d}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>白天</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[0].cond_txt_d}}</b></p>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[0].sr}}日出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[0].ss}}日落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最高温度&nbsp;{{forecast[0].tmp_max}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>降水量&nbsp;{{forecast[0].pcpn}}mm</b></p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[0].cond_code_n}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>夜晚</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[0].cond_txt_n}}</b></p>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[0].ms}}月落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[0].mr}}月出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最低温度&nbsp;{{forecast[0].tmp_min}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>风力&nbsp;{{forecast[0].wind_sc}}级</b></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
								</div>
							</div>
						</div>
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;">{{forecast[1].date}}&nbsp;天气预报</h3>
								</div>
								<div class="row">
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[1].cond_code_d}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>白天</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[1].cond_txt_d}}</b></p>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[0].sr}}日出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[1].ss}}日落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最高温度&nbsp;{{forecast[1].tmp_max}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>降水量&nbsp;{{forecast[1].pcpn}}mm</b></p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[1].cond_code_n}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>夜晚</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[1].cond_txt_n}}</b></p>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[1].ms}}月落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[1].mr}}月出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最低温度&nbsp;{{forecast[1].tmp_min}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>风力&nbsp;{{forecast[1].wind_sc}}级</b></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
								</div>
							</div>
						</div>
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;">{{forecast[2].date}}&nbsp;天气预报</h3>
								</div>
								<div class="row">
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[2].cond_code_d}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>白天</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[2].cond_txt_d}}</b></p>
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[2].sr}}日出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[2].ss}}日落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最高温度&nbsp;{{forecast[2].tmp_max}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>降水量&nbsp;{{forecast[2].pcpn}}mm</b></p>
												</div>
											</li>
										</ul>
									</div>
									<div class="col-6">
										<ul class="list-media">
											<li class="list-item">
												<div class="client-item">
													<div class="media-img">
														<img src="../static/images/weather/{{forecast[2].cond_code_n}}.png" alt="">
													</div>
													<div class="info">
														<p class="m-0"><b>夜晚</b></p>
														<p class="m-0"><b>天气&nbsp;{{forecast[2].cond_txt_n}}</b></p>	
													</div>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[2].ms}}月落</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>{{forecast[2].mr}}月出</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>最低温度&nbsp;{{forecast[2].tmp_min}}℃</b></p>
												</div>
											</li>
											<li class="list-item">
												<div class="client-item">
													<p class="m-0"><b>风力&nbsp;{{forecast[2].wind_sc}}级</b></p>
												</div>
											</li>
										</ul>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
						<div class="row">
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[0].type}}</font></h3>
									<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[0].brf}}</small></h3>
								</div>
								<p class="m-0"><b>{{lifestyle[0].txt}}</b></p>
								</div>
							</div>
						</div>
							<div class="col-12 stretch-card">
								<div class="card">
									<div class="card-body">
									<div>
										<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[2].type}}</font></h3>
										<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[2].brf}}</small></h3>
									</div>
									<p class="m-0"><b>{{lifestyle[2].txt}}</b></p>
									</div>
								</div>
							</div>
							<div class="col-12 stretch-card">
								<div class="card">
									<div class="card-body">
									<div>
										<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[1].type}}</font></h3>
										<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[1].brf}}</small></h3>
									</div>
									<p class="m-0"><b>{{lifestyle[1].txt}}</b></p>
									</div>
								</div>
							</div>
							<div class="col-12 stretch-card">
								<div class="card">
									<div class="card-body">
									<div>
										<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[4].type}}</font></h3>
										<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[4].brf}}</small></h3>
									</div>
									<p class="m-0"><b>{{lifestyle[4].txt}}</b></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="col-md-6">
						<div class="row">
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[3].type}}</font></h3>
									<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[3].brf}}</small></h3>
								</div>
								<p class="m-0"><b>{{lifestyle[3].txt}}</b></p>
								</div>
							</div>
						</div>
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[5].type}}</font></h3>
									<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[0].brf}}</small></h3>
								</div>
								<p class="m-0"><b>{{lifestyle[0].txt}}</b></p>
								</div>
							</div>
						</div>
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[6].type}}</font></h3>
									<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[6].brf}}</small></h3>
								</div>
								<p class="m-0"><b>{{lifestyle[6].txt}}</b></p>
								</div>
							</div>
						</div>
						<div class="col-12 stretch-card">
							<div class="card">
								<div class="card-body">
								<div>
									<h3 class="text-muted" style="text-align:center;"><font style="color:#00ff00;">{{lifestyle[7].type}}</font></h3>
									<h3 class="text-muted" style="text-align:center;"><small>{{lifestyle[7].brf}}</small></h3>
								</div>
								<p class="m-0"><b>{{lifestyle[7].txt}}</b></p>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			
{% endblock %}



{% block d %} 

{% endblock %}


