
{% extends 'base.html' %}
{% block content %}
   <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/weather_plot3.js') }}"></script> -->
   <center>
    <h2 id="position" style="color:#fff"></h2>
   </center>
   <div id="main1" style="width: 80%;height:80%;margin:5px auto;"></div>
	
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main1'));
		myChart1.showLoading();
		//异步加载数据
						$(function(){
						    $.get('/weather',function (data) {
								myChart1.hideLoading();
								document.getElementById("position").innerHTML = data.position+'天气情况';
						        myChart1.setOption({
						            title: [{
										top: '5%',
										left: 'center',
						                text: '温度 湿度',
										textStyle: {
										  color: "#fff"
										},
						            },{
										top: '50%',
										left: 'center',
										text: '空气质量',
										textStyle: {
										  color: "#fff"
										},
									}],
									legend: {
									    data: ['温度', '湿度', '空气质量'],
										textStyle: {
										  color: "#fff"
										},
									},
									tooltip: [{
										trigger: 'axis', 						
										axisPointer: {  //坐标轴指示器，坐标轴触发有效，
										    type: 'cross', //默认为line，line直线，cross十字准星，shadow阴影
											crossStyle: {
										        color: '#ffffff'//白色
											}
										},
										// formatter(params){
										//     for(x in params){
										//            return "温度（℃）:"+params[x].data;
										// 		   }
										// 	}
									}],
									axisPointer: {  //全局化axisPointer
									    link: {xAxisIndex: 'all'},
									    label: {
									        backgroundColor: '#777'
									    }
									},
									grid:[
										{bottom:'58%',right:'10%'},
										{top:'58%',right:'10%'}
									],
						            xAxis: [
										{
											type:'category',
											data:data.time,
											axisLabel: {
											  textStyle: {
											    color: "#fff"
											  },
											},
										},
										{
											type:'category',
											data:data.time,
											axisLabel: {
											  textStyle: {
											    color: "#fff"
											  },
											},
											gridIndex:1
										}
									],
									yAxis: [
										{
											type:'value',
											name: '温度',
											axisLabel: {
											    textStyle: {
												    color: "#fff"
												              },
											    formatter: '{value} ℃'
										}
										},{
											type:'value',
											name: '湿度',
											min: 0,
											max: 100,
											axisLabel: {
												textStyle: {
												    color: "#fff"
												              },
											    formatter: '{value} %'
											}
				                         },{
											type:'value',
											name: '空气质量',
											axisLabel: {
											  textStyle: {
											    color: "#fff"
											  },
											},
											gridIndex:1,
										}],
									series: [{//默认第一个图第一个轴
									    name: '温度',
									    type: 'bar',
										data:data.temperature,
									},{
										name: '湿度',
										type: 'line',
										data:data.humidity,
										yAxisIndex:1   //对应第二给轴（默认第一个图）
									},{
										name: '空气质量',
										type: 'bar',
										data:data.air_quality,
										xAxisIndex:1,  //对应第二个图
										yAxisIndex:2   //对应第三个轴
									}],
						        });
						    });
						}); 
		
    </script>


{% endblock %}
